:root{
    --slider-items: 3;
    --slider-time: 6s;
}

.page-title{
    text-align: center;
    line-height: 2;   
    display: flex; 
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-title::before,
.page-title::after{
    content: "";
    flex : auto;
    height: .1em;
    display: block;    
}

.page-title::before{
    margin-right: .5em;
    background: linear-gradient(to left, yellow, red);
}
.page-title::after{
    margin-left: .5em;
    background: linear-gradient(to right, yellow, red);
}

.slider{
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
    overflow: hidden;
}

.slider__content{
    display: flex;
    width: calc(100% * var(--slider-items));
    animation: slider var(--slider-time) linear infinite;
    position: relative;
    left: 0;
}
.slider__item{
    position: relative;
}

.slider__img{
    width: 100%;
    display: block;
}

.slider__caption{
    background: rgba(0,0,0,.7);
    color: #FFF;
    padding: 1em;
    position: absolute;
    bottom: -5em;
    left: 1em;
    animation: caption calc(var(--slider-time)/3) linear infinite;
}

@keyframes slider{

    0%, 30%{
        left: 0%;
    }

    33%, 63%{
        left: -100%;
    }

    66%, 97%{
        left: -200%;
    }

}

@keyframes caption {
    20%, 90%{
        bottom: 1em;
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}