.app{
    min-height: 100vh;
    line-height: 1.4;
    background-color: #eee;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'header'
                         'main'
                         'sidebar'
                         'footer';
}

.app > * {
    padding: 2rem;
}

header,
footer{
    background-color: steelblue;
    color: #fff;
    grid-area: header;
}

footer{
    grid-area: footer;
}

aside{
    background-color: deepskyblue;
    grid-area: sidebar;
}

main{
    padding: 2rem;
    background-color: #ddd;
    grid-area: main;
}

@media screen and (min-width: 64em){
    .app{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 'header header header'
                             'sidebar main main'                             
                             '. main main'                             
                             'footer footer footer';
    }
}