body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    color: white;
    background-color: steelblue;
}