.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.grid-item:nth-child(even){
    background: pink;
}

.grid-item{
    width: 100%;    
    background: yellow;  
    margin-bottom: 10px;      
}

@media screen and (min-width: 480px){
    .grid-item{
        width: calc(50% - 5px);            
    }
}

@media screen and (min-width: 800px){
    .grid-item{
        width: calc(33.3% - 6.6px);            
    }
}