body{
     font-family: oxygen, sans-serif; 
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
}

.product{
    background: #eee;
    margin: 1em;
    padding: 1em;
    position: relative;
}

.product.oferta .product__tag{
    display: block;
}

.product__tag{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: yellow;
    padding: 1em;
}

.product__footer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;  
    justify-content: center;    
}

.product__title{
    width: 60%;
    font-size: 1.5em;
}

.product__price{
    width: 40%;
    text-align: right;
}

.product__title,
.product__price{
    border-bottom: 1px solid #ccc;
}

.product__price::before{
    content: "$ ";
}

.product__price::after{
    content: ".00";
}

.product__buy{
    text-decoration: none;
    background: red;
    display: inline-block;
    padding: .5em 2em;
    color: #fff;
    border-radius: .2em;
    margin-top: 1em;
}